<div class="container">
    <h1>This Is Home Pages</h1>
    <h3>Welcome Home Dear <%= nama %>! </h3>
    <div class="list">
        <h3>Kontak List Anda: </h3>
        <% if (kontak.length < 1) { %>
            <p>Data Kosong</p>
        <% }else{ %>
        <% kontak.forEach(kontak => { %>
            <ul>
                <li>No. <%= index++ %> </li>
                <li>Nama : <%= kontak.nama %> </li>
                <li>Email : <%= kontak.email %> </li>
                <li>No HP : <%= kontak.nohp %> </li>
            </ul>
        <% }) %>
        <% } %> 
    </div>
</div>
