<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= tittle  %></title>
    <link href="/style" rel="stylesheet" type="text/css">
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="links">
                <h3>Links</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>      
                    <li><a href="/contact">Contact</a></li>
                </ul>  
            </div>
        </div>        
    </nav>
    <div class="footer">
        <h1>This Is Home Pages</h1>
        <h3>Welcome Home Dear <%= nama %>! </h3>
        <div class="list">
            <h3>Kontak List: </h3>
            <% kontak.forEach(kontak => { %>
                <ul>
                    <li>No.<%= index++ %> </li>
                    <li>Nama : <%= kontak.nama %> </li>
                    <li>Email : <%= kontak.email %> </li>
                    <li>No HP : <%= kontak.nohp %> </li>
                </ul>
            <% }) %>
        </div>
    </div>
</body>
</html>